.userEditBtn{
padding: 10px 50px;
border-radius: 3px;
margin: 40px 5px 0px 5px;
}

.userEditInputWrapper {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.userEditInput{
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  color: #000000;
  border: none;
}

.readOnlyInput{
    background-color: #D3D3D3;
    color: #808080;
    outline: none;
}

@media (max-width: 375px) {
    .userEditBtn{
        padding: 10px 45px;
        margin-top: 25px;
    }
}